services:
  os:
    image: dfxyz/archlinux
    command: ["/usr/bin/sshd", "-D"]
    ports:
      - 2222:2222/tcp
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
  kcptun-ssh:
    image: xtaci/kcptun 
    command: ["server", "-l", ":2222", "-t", "os:2222"]
    ports:
      - 2222:2222/udp
    depends_on:
      - os
